<p-dialog [(visible)]="visible"
		  [style]="{width: '500px'}"
		  header="Modifier le mot de passe"
		  [modal]="true"
		  styleClass="p-fluid"
		  (onShow)="onOuverture()"
		  (onHide)="fermerModal()">
	<form #form="ngForm"
		  [formGroup]="utilisateurForm"
		  (submit)="modifierMotDePasse()">
		<div class="grid py-5">
			<div class="col-12">
				<div>
					<label class="label-required">Nom d'utilisateur</label>
					<input type="text"
						   maxlength="150"
						   pInputText
						   formControlName="username">
				</div>
			</div>
			<div formGroupName="passwordFormGroup">
				<div class="col-12">
					<label class="label-required">Mot de passe</label>
					<div class="p-inputgroup mt-2 mot-passe">
						<span class="p-inputgroup-addon"><i class="fa fa-lock"></i></span>
						<p-password formControlName="password"
									[toggleMask]="true"
									[feedback]="false"
									[style]="{'width': '25.5rem', 'height' : '38px'}"
									placeholder="Mot de passe">
						</p-password>
					</div>
				</div>
				<div class="col-12">
					<label class="label-required">Confirmer le mot de passe</label>
					<div class="p-inputgroup mt-2 mot-passe">
						<span class="p-inputgroup-addon"><i class="fa fa-lock"></i></span>
						<p-password formControlName="confirmPassword"
									[toggleMask]="true"
									[feedback]="false"
									[style]="{'width': '25.5rem', 'height' : '38px'}"
									placeholder="Confirmer le mot de passe">
						</p-password>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="flex justify-content-end">
				<p-button [disabled]="" *ngIf="!loading"
						  label="Enregistrer"
						  type="submit"
						  styleClass="p-button-sm bg-green-600">
					<em class="pi pi-save mr-1"></em>
				</p-button>
				<p-button *ngIf="!loading"
						  label="Annuler"
						  icon="pi pi-times"
						  styleClass="p-button-sm bg-orange-400 ml-2"
						  (click)="fermerModal()">
				</p-button>
				<p-progressSpinner class="m-0" *ngIf="loading"></p-progressSpinner>
			</div>
		</div>
		<span *ngIf="messageActif" class="flex justify-content-center mt-6">
			<p-message severity="error" [text]="messageErreur"></p-message>
		</span>
	</form>
</p-dialog>
